<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="username" value="kiranyelekar@gmail.com"></parameter>
	<parameter name="pwd" value="codetheoryio"></parameter>

<classes>
      <class name="Task.task.tc1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
